body{
    background-color: aqua;
}



#question{
    margin: auto;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#quizContainer{
    gap: 13px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

header{
    display:flex;
}


main{
    display: flex;
    gap: 13x;
    flex-direction: column;
    justify-content: flex-start;
}

